.nav-wrap {
    max-width: 100%;

    .navbar-collapse {
        background: transparent;
        @include media-breakpoint-down(md){
            position: fixed;
            top: 0px;
            z-index: 1;
            background: #ffffff;
            left: 0px;
            right: 0px;
            height: 110vh;
        }
        
    }

    .navbar-logo {
        img {
            height: 40px;

            @include media-breakpoint-up(md) {
                height: 40px;
            }

            @include media-breakpoint-up(xxl) {
                height: 40px;
            }
        }
    }

    .navbar-nav {
        .menu-item {
            display: flex;
            justify-content: center;
            padding-bottom: 40px;

            @include media-breakpoint-up(lg) {
                padding-bottom: 0;
            }
            
            .nav-link {
                position: relative;
                text-transform: uppercase;
                //kamil
                font-family: Poppins;
                font-size: 14px;  //1rem
                color: #424242;
                text-transform: uppercase;
                @include media-breakpoint-up(lg) {
                    padding: 0;
                    margin-left: 20px;
                }
                @include media-breakpoint-down(lg) {
                    font-size: 16px;
                }

                @include media-breakpoint-up(xxl) {
                    margin-left: 30px;
                }

                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: -12px;
                    left: 50%;
                    height: 4px;
                    border-radius: 2px;
                    transform: translateX(-50%);
                    background-color: #ffa600;
                }
            }
        }
    }

    img.line {
        max-width: 160px;
        margin: 0 auto;
    }

    .navbar-logo {
        max-width: 102px;
    }
    .active {
        .nav-link {
            font-weight: 900;
        }
    }
}