

.article-container, .process-main-container {
    .article-container--title {
        color: #424242;
        font-family: Poppins;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: -0.18px;
    }

    h1 {
        color: $black;
        font-family: Poppins;
        font-size: 24px;
        font-weight: 600;
        letter-spacing: -0.36px;
        text-transform: uppercase;
        @include media-breakpoint-up(lg) {
            font-size: 30px;
        }
    }

    p {
        color: $black2;
        font-family: Poppins;
        font-size: 14px;
        font-weight: 300;
        line-height: 25px;

    }
}

.nav-transparent {
    transition: 750ms ease;
    background: transparent !important;
}

.nav-wrap {
    padding: 20px 0px;
}